<div class='col-md-4'>
  <!-- USERS LIST -->
  <div class="box box-danger">
    <div class="box-header with-border">
      <h3 class="box-title">Latest Members</h3>
      <div class="box-tools pull-right">
        <span class="label label-danger"><%= @users.size %> New Members</span>
        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      </div>
    </div><!-- /.box-header -->
    <div class="box-body no-padding">
      <ul class="users-list clearfix">
        <% @users.each do |user| %>
          <li>
            <img src="<%= user.image.gsub('50', '160') %>" alt="User Image"/>
            <%= link_to(user.first_name, members_details_path(id: user.id), class: 'users-list-name') %>
            <span class="users-list-date"><%= user.creation_date.today? ? "Today" : time_ago_in_words(user.creation_date) %></span>
          </li>
        <% end %>
      </ul><!-- /.users-list -->
    </div><!-- /.box-body -->
    <div class="box-footer text-center">
      <%= link_to 'View all Users', members_list_path, class: 'uppercase' %>
    </div><!-- /.box-footer -->
  </div><!--/.box -->
</div><!-- /.col -->